[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
prediction_market = "6CY8YgqAoXq66baW5B41Yw72D7unQjFN3wuMkZr2bCRM"

[programs.localnet]
prediction_market = "6CY8YgqAoXq66baW5B41Yw72D7unQjFN3wuMkZr2bCRM"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
